@charset "UTF-8";

html,
body,
.nav-md,
.container,
.main_container,
.right_col {
  height: 100%;
}

.nav {
  display: -ms-flexbox;
  display: block !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.error {
  color: red;
}
